swagger: '2.0'
info:
  description: This is a API document for Product DB
  version: 0.0.1
  title: bl-db-product
  contact:
    email: master@bluehack.net
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: 'db-product.stylelens.io'
basePath: /
tags:
  - name: product
    description: product
schemes:
  - http
paths:
  /products:
    post:
      tags:
      - product
      summary: "Added a new Product"
      description: ""
      operationId: addProduct
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: body
        name: body
        description: Product object that needs to be added to the db.
        required: true
        schema:
          $ref: '#/definitions/Product'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/AddProductResponse'
        400:
          description: Invalid input
    put:
      tags:
      - product
      summary: "Update an existing Product"
      description: ""
      operationId: updateProduct
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Product object that needs to be updated to the store"
        required: true
        schema:
          $ref: "#/definitions/Product"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Product not found"
        405:
          description: "Validation exception"
  /products/{productId}:
    get:
      tags:
      - product
      summary: "Find Product by ID"
      description: "Returns a single Product"
      operationId: "getProductById"
      produces:
      - "application/json"
      parameters:
      - name: "productId"
        in: "path"
        description: "ID of Product to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Product"
        400:
          description: "Invalid ID supplied"
        404:
          description: "Product not found"
    delete:
      tags:
      - product
      summary: "Deletes a Product"
      description: ""
      operationId: "deleteProduct"
      produces:
      - "application/json"
      parameters:
      - name: "productId"
        in: "path"
        description: "Product id to delete"
        required: true
        type: "integer"
        format: "int64"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
securityDefinitions:
  api_key:
    type: apiKey
    name: api_key
    in: header
definitions:
  SubImage:
    type: object
    properties:
      origin:
        type: string
      mobile:
        type: string
      main:
        type: integer
        format: int32
        description: "1: main, 0: sub image"
  Feedback:
    type: object
    properties:
      photo:
        type: string
      text:
        type: string
      write_date:
        type: string
      total_count:
        type: integer
        format: int32
      photo_count:
        type: integer
        format: int32
      likes:
        type: integer
        format: int32
      writer:
        $ref: "#/definitions/Writer"
  Writer:
    type: object
    properties:
      id:
        type: string
      grade:
        type: string
      height:
        type: integer
        format: int32
      weight:
        type: integer
        format: int32
      my_size:
        type: string
      product_size:
        type: string
      color:
        type: string
  Product:
    type: object
    properties:
      name:
        type: string
      host_code:
        type: string
      host_url:
        type: string
      host_name:
        type: string
      tags:
        type: array
        items:
          type: string
      parent_image_raw:
        type: string
      parent_image_mobile:
        type: string
      parent_image_mobile_thumb:
        type: string
      class_code:
        type: string
        example: "n0100001"
      price:
        type: string
      currency_unit:
        type: string
      product_url:
        type: string
      product_no:
        type: string
      main:
        type: integer
        format: int32
      nation:
        type: string
      main_image:
        type: string
      sub_images:
        type: array
        items:
          type: string
      sizes:
        type: array
        items:
          type: string
      discount_rate:
        type: integer
        format: int32
      feedback:
        $ref: "#/definitions/Feedback"

  AddProductResponse:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      data:
        type: object
        properties:
          _id:
            type: string
externalDocs:
  description: Find out more about BlueLens
  url: 'http://bluelens.io'
